# Variables
#### elements in programming languages that are used to assign and store data so that it can be manipulated in a program later. (can be used or referenced later)

In [1]:
# Declaring and assigning variables

age=20
height= 5.9
name="Siddhesh"
is_student=True

# printing

print("age:",age)
print("Height:",height)
print("Name:",name)
print("Is student:",is_student)

age: 20
Height: 5.9
Name: Siddhesh
Is student: True

In [ ]:
# Naming conventions

## variable names shoulld be descriptive (or use comments to describe)
## they must start with a letter or underscore, and acn contain numbers, but not start with them.
## variable names are case-sensitive

# some valid variable names
first_name="Siddhesh"
last_name="Khankhoje"

# invalid variable names
#1st_name="Siddhesh" starts with a number

In [ ]:
# Variable types
# Python is Dynamically typed, meaning type of a vriable is determined at runtime
age=20
height=5.9
name="Siddhesh"
is_student=True

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [5]:
# Data type conversion
age=20
print(type(age))

age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
20
<class 'str'>

In [ ]:
age='20'
age_int=int(age)
print(age_int)
print(type(age_int))

#Note: Converting non-numeric strings to int or float will raise an error

20
<class 'int'>

In [9]:
height=5.9
type(height)

int(height) #removes decimal
float(int(height))

5.0

In [12]:
# Dynamic typing
## Python allows the type of a variable to change as the program executes
var=10
print(var,type(var))

var="String"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
String <class 'str'>
3.14 <class 'float'>

# Input Programs

In [ ]:
age=int(input("Please enter your age:")) # type casting input to int
print("Your age is:",age,type(age))

Your age is: 20 <class 'str'>

In [18]:
### Simple calculator

num1=float(input("Enter the First number:"))
num2=float(input("Enter the Second number:"))

sum=num1+num2
diff=num1-num2
prod=num1*num2
quot=num1/num2

print("Sum:",sum)
print("Difference:",diff)
print("Product:",prod)
print("Quotient:",quot)

Sum: 13.0
Difference: -1.0
Product: 42.0
Quotient: 0.8571428571428571